<%- include ("./header") %>

<div class="uk-width-medium uk-padding-small">
	<form action="/user/new/save" method="POST" id="newUserForm" name='userForm'>
			<input class="uk-input" type="text" placeholder="Name" name="name" required>
			<input style="margin-top: 5px"class="uk-input" type="text" placeholder="Username" name="username" required>
			<input style="margin-top: 5px" class="uk-input" type="text" placeholder="Password" name="password" required> 
			<input style="margin-top: 5px" class="uk-input" type="date" required  name="dob"> 
			<div>&nbsp</div>
				<label><input class="uk-radio" type="radio" name="gender" value=0 checked> Male</label>
				<label><input class="uk-radio" type="radio" name="gender" value=1 > Female</label>
	
			
			<div style="margin-top: 20px"><button class="uk-button uk-button-primary" style="width: 100px;margin-left: 20px" id="cancelButton" type="button">Cancel</button><button class="uk-button uk-button-danger" style="width: 100px; margin-left: 10px" type="submit">Save</button></div>
	</form>
</div>

<%- include ("./footer") %>
